*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    background-color: #2f423b;
    z-index: 999;
}
.logo img{
    width: 300px;
    padding-left: 20px;
}
.list ul{
    padding-right: 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 30px;
 

    li{
        padding-left: 20px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        a{
            text-decoration: none;
           color: #fff;
        }
        

    }
}
.topcontent{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 60px;
    h1{
        padding-bottom: 6px;
        color: #967744;
    }
    hr{
        width: 200px;
        height: 5px;
        background-color: #967744;
       
    }
    p{
        padding-top: 10px;
        font-style: italic;
        
    }
    img{
        width: 300px;
    }
}
.spcontainer{
    display: flex;
    justify-content: center;
    .box{
        max-width: 40%;
        margin-left: 20px;
        /* border: #967744 1px solid; */
        border: #967744 2px solid;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            margin-top: 20px;
            padding-bottom: 30px;
            img{
                width: 100%;
                height: 250px;
                border-top-left-radius: 50px;
                object-fit: cover;
            }
            h3{
                padding-top: 10px;
                margin-top: -4px;
                padding-left: 10px;
                padding-right: 10px;
                background-color: #2f423b;
                padding-bottom: 10px;
                color: #fff;
                span{
                    margin-right: 5px;
                }
            }
            p{
                padding-top: 15px;

                padding-left: 20px;
                padding-right: 20px;
            }
            ul{
                padding-left: 40px;
                padding-right: 20px;
                font-style: italic;
                padding-top: 10px;
                
            }
    }
}

.bottomcontent{
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 20px;
    background-color: #967744;
    padding-bottom: 30px;
    h1{
        color: #fff;
        padding-top: 10px;
    }
    hr{
            margin-top: 5px;
            width: 200px;
            height: 5px;
            background-color: #fff;
    }
    ul{
        padding-top: 20px;
        padding-left: 20px;
        color: #fff;
    }
    p{
        padding-top: 20px;
        /* padding-left: 20px; */
        color: #fff;

    }
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #2f423b;
    padding-bottom: 10px;
    .footercol{
        color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        min-width: 300px;
        .footerhead{
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: #967744 2px solid;
            border-bottom: #967744 2px solid;
        }
        ul{
            padding-left: 20px;
        }
        .footercontent{
            ul{
                li{
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    img{
                        height: 20px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
.copyright{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2f423b;
    border-top: #fff 1px solid;
    text-align: center;
    p{
        color: #fff;
    }
}